{% extends "base.html" %}
{% block content %}

<h3>Welcome to Pitch.io</h3>
<hr>
<div>
  <img src="https://img.freepik.com/free-vector/online-business-virtual-meeting-illustration-video-conference-call_51635-4504.jpg" alt="33">
</div>

{% for post in posts %}


<div class="card mb-2">
  <div class="card-header">
    <h5 class="card-title">{{ post.title }}</h5>

  </div>
  <div class="card-body">
    <p class="card-text">{{ post.content}}</p>
    <p>{{post.author.username}} on {{post.date_posted}}</p>

    <a href="{{url_for('update_pitch',pitch_id=post.id)}}" class="btn btn-outline-dark mt-2">comment</a>
    <a href="{{url_for('delete_pitch',pitch_id=post.id)}}" class="btn btn-outline-info">like</a>
  </div>
</div>




{% endfor %}



{% endblock content  %}


