{% extends "base.html" %}
{% block content %}


<h1>Investigative Pitches</h1>

<hr>

<img src="https://www.ishn.com/ext/resources/Issues/2019/02-February/ISHN0219_F15_pic.jpg?1549570579" alt="" height="300px" >
<br><br>
{% for post in posts %}




<div class="card mb-2">
  <div class="card-header">
    <h5 class="card-title">{{ post.title }}</h5>

  </div>
  <div class="card-body">
    <p class="card-text">{{ post.content}}</p>
    <p>{{post.author.username}} on {{post.date_posted}}</p>

    <a href="{{url_for('update_pitch',pitch_id=post.id)}}" class="btn btn-primary">comment</a>
    <a href="{{url_for('delete_pitch',pitch_id=post.id)}}" class="btn btn-danger">Delete Pitch</a>
  </div>
</div>




{% endfor %}

{% endblock content  %}


