{% extends "base.html" %}
{% block content %}


<h1>Sports Pitches</h1>

<hr>

<img src="https://www.pngkit.com/png/detail/25-254939_nfl-football-players-cartoon.png" alt="" height="300px" width="500px">

<br><br>

{% for post in posts %}




<div class="card mb-2">
  <div class="card-header">
    <h5 class="card-title">{{ post.title }}</h5>

  </div>
  <div class="card-body">
    <p class="card-text">{{ post.content}}</p>
    <p>{{post.author.username}} on {{post.date_posted}}</p>

    <a href="{{url_for('update_pitch',pitch_id=post.id)}}" class="btn btn-primary">comment</a>
    <a href="{{url_for('delete_pitch',pitch_id=post.id)}}" class="btn btn-danger">Delete Pitch</a>
  </div>
</div>




{% endfor %}

{% endblock content  %}


